/* REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.white_text {
  color: #FFFFFF;
}

#root {
  width: 1600px;
  margin: auto;
}

/* REGOLE HEADER */
/* regole generali */
header {
  height: 600px;
  position: relative;
  background-color: #1B1B1B;
  background-image: url('../img/h3-rev-img-5.png');
  background-repeat: no-repeat;
  background-position: center;
}

header .link_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .link_row .box {
  width: 300px;
}

header .link_row .box.left {
  text-align: right;
}

header .link_row .box.right {
  text-align: left;
}

header .link_row .white_text{
  margin: 0 10px;
  font-size: 12px;
}

header .link_row .symbol {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(105%) contrast(101%);
}

/* regole pulsante a sx */
header .link_row .button{
  padding: 10px 20px;
  background-color: #D2401E;
}

/* regole logo */
header .link_row .logo {
  margin: 20px;
  width: 150px;
}

/* regole motorino */
header .link_row .position {
  position: relative;
}

header .link_row .bike {
  width: 25px;
}

header .link_row .backpack {
  height: 14px;
  width: 14px;
  position: absolute;
  top: -10px;
  left: -5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #D2401E;
}

header .link_row .fa-search {
  transform: rotateY(180deg);
}

/* regole jumbotron */
header .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .jumbotron img {
  width: 300px;
}

/* regole frecce carousel */

header .arrow {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

header .arrow.prev {
  left: 0;
  transform: translate(-70%, -50%);
}

header .arrow.next {
  right: 0;
  transform: translate(70%, -50%);
}

header .arrow_text {
  position: absolute;
  top: 50%;
  font-size: 12px;
  color: #D2401E;
}

header .prev .arrow_text {
  right: 0;
  transform: translate(-10%, -50%) rotate(90deg);
}

header .next .arrow_text {
  left: 0;
  transform: translate(10%, -50%) rotate(-90deg);
}

/* REGOLE SEZIONE NEWS */
.newsfeed {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.newsfeed .news {
  width: calc((1600px - 30px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D2401E;
  /* background a puntini */
  background-image: radial-gradient(#FFA500 20%, transparent 20%);
  background-size: 10px 10px;
}

.newsfeed .news img {
  width: 100%;
}

.newsfeed .news .eye {
  width: 80px;
  display: none;
}

/* regole in hover */
.newsfeed .news:hover {
  cursor: pointer;
}

.newsfeed .news:hover img {
  display: none;
}

.newsfeed .news:hover .eye {
  display: block;
}

/* REGOLE RECENSIONI */
.reviews {
  /* debug */
  height: 500px;
  background-color: blue;
}
