/* REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  width: 1600px;
  margin: auto;
}

.half {
  width: calc(100% / 2);
}

/* dimensioni font */
.px50 {
  font-size: 50px;
}

.px40 {
  font-size: 40px;
}

.px30 {
  font-size: 30px;
}

.px20 {
  font-size: 20px;
}

.px14 {
  font-size: 14px;
}

.px12 {
  font-size: 12px;
}

.px10{
  font-size: 10px;
}

.bold {
  font-weight: bold;
}

/* colori font */
.lightgrey {
  color: #E4E4D4;
}

.gold {
  color: #B7903C;
}

.green {
  color: #339966;
}

.grey {
  color: #CDCDCD;
}

.red {
  color: #AB4027;
}

.white {
  color: #FFFFFF;
}

/* frecce carousel */
.arrow {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.arrow.prev {
  left: 0;
  transform: translate(-60%, -50%);
}

.arrow.next {
  right: 0;
  transform: translate(60%, -50%);
}

.arrow_text {
  position: absolute;
  top: 50%;
}

.prev .arrow_text {
  right: 0;
  transform: translate(-40%, -50%) rotate(90deg);
}

.next .arrow_text {
  left: 0;
  transform: translate(40%, -50%) rotate(-90deg);
}

.arrow:hover {
  cursor: pointer;
}

/* slice */
.slice {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.slice.circle {
  padding: 10px 12px;
  border-radius: 50%;
}

.slice.circle.white {
  background-color: #FFFFFF;
}

.slice.circle.grey {
  background-color: #E4E4D4;
}

/* REGOLE HEADER */
/* regole generali */
header {
  height: 600px;
  position: relative;
  background-color: #1B1B1B;
  background-repeat: no-repeat;
  background-position: center;
}

/* sfondo cangiante in base al carousel  */
header.firstbg {
  background-image: url('../img/h3-rev-img-1.png');
}

header.secondbg {
  background-image: url('../img/h3-rev-img-3.png');
}

header.thirdbg {
  background-image: url('../img/h3-rev-img-5.png');
}

/* link */
header .link_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .link_row .box {
  width: 300px;
}

header .link_row .box.left {
  text-align: right;
}

header .link_row .box.right {
  text-align: left;
}

header .link_row a {
  margin: 0 20px;
}

header .link_row .symbol {
  width: 20px;
  margin-right: 5px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(105%) contrast(101%);
}

/* pulsante a sx */
header .link_row .button {
  padding: 10px 30px;
  background-color: #D2401E;
}

/* logo */
header .link_row .logo {
  margin: 20px;
  width: 150px;
}

/* regole motorino */
header .link_row .position {
  position: relative;
}

header .link_row .bike {
  width: 25px;
}

header .link_row .backpack {
  height: 14px;
  width: 14px;
  position: absolute;
  top: -10px;
  left: -5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .link_row .fa-search {
  transform: rotateY(180deg);
}

/* regole jumbotron */
header .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .jumbotron img {
  width: 300px;
}

/* REGOLE SEZIONE NEWS */
.newsfeed {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
}

.newsfeed .news {
  width: calc((100% - 30px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  /* background a puntini */
  background-image: radial-gradient(#FFA500 20%, transparent 20%),
      radial-gradient(#FFA500 20%, transparent 20%);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.newsfeed .news img {
  width: 100%;
}

.newsfeed .news .fa-eye {
  padding: 30px;
  display: none;
  border-radius: 50%;
  background-color: #D2401E;
}

/* regole in hover */
.newsfeed .news:hover img {
  display: none;
}

.newsfeed .news:hover .fa-eye {
  display: block;
}

.newsfeed .news .fa-eye:hover {
  cursor: pointer;
}

/* REGOLE TESTIMONIAL */
.testimonials {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../img/h3-testimonials-bckgrnd.jpg');
  background-position: center;
  background-size: contain;
}

.testimonials .fa-quote-left {
  margin-bottom: 20px;
}

.testimonials .quote {
  width: 600px;
  margin-bottom: 10px;
  text-align: center;
}

.testimonials .journal {
  margin-bottom: 20px;
}

.testimonials .fa-circle {
  margin: 0 3px;
}

.testimonials .fa-circle:hover {
  cursor: pointer;
}

/* REGOLE OFFERS */
.offers {
  margin: 10px 0;
  height: 600px;
  display: flex;
  align-items: center;
}

/* parte sinistra con le immagini */
.offers .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/h1-img-4.jpg);
  background-size: cover;
  background-position: center;
}

.offers .left img {
  height: 300px;
}

/* parte destra con le effettive offerte */
.offers .right {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.offers .right > div {
  width: 300px;
}

.offers .right .title {
  margin-bottom: 10px;
}

.offers .right .combo {
  margin-top: 20px;
  display: flex;
}

.offers .right .combo .price {
  margin-right: 10px;
}

.offers .right .combo .description {
  margin: 10px 0 0 1px;
}

/* REGOLE SEZIONE BUILD */
.build {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.build .slogan {
  width: 300px;
  margin-left: 200px;
}

/* regole per lo sfondo particolare */
.build .bg {
  background-image: url(../img/h3-background-img.jpg);
  background-size: 1500px;
}

.build .top,
.build .bottom {
  height: 25%;
}

.build .middle {
  height: 50%;
}

.build .left,
.build .right {
  width: 10%;
}

.build .center {
  width: 80%;
}

.build .top.left {
  background-position: right bottom;
}

.build .middle.left {
  background-position: right top;
}

.build .bottom.left {
  background-position: right;
}

.build .top.center {
  background-position: bottom;
}

.build .middle.center {
  display: flex;
  align-items: center;
  background-position: top;
}

.build .bottom.center {
  background-position: center;
}

.build .top.right {
  background-position: left bottom;
}

.build .middle.right {
  position: relative;
  background-position: left top;
}

.build .bottom.right {
  background-position: left;
}

/* REGOLE SEZIONE TEAM */
.team {
  margin: 10px 0;
  display: flex;
  position: relative;
  background-color: #FFFFFF;
}

.team .employee {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  /* background a puntini */
  background-image: radial-gradient(#FFA500 20%, transparent 20%),
      radial-gradient(#FFA500 20%, transparent 20%);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.team .employee img {
  width: 100%;
}

.team .employee .curriculum {
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D2401E;
}

.team .employee .curriculum .job {
  margin-bottom: 10px;
}

.team .employee .curriculum i {
  margin: 0 5px;
}

/* regole in hover */
.team .employee:hover img {
  display: none;
}

.team .employee:hover .curriculum {
  display: flex;
}

.team .employee i:hover {
  cursor: pointer;
}

/* REGOLE SEZIONE AFFILIATE */
.affiliate {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E4E4D4;
}

.affiliate img {
  width: 200px;
}

/* REGOLE SEZIONE MENU */
.menu {
  background-color: #FFFFFF;
}

/* regole parte superiore */
.menu .menu_top {
  height: 250px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.menu .menu_top .title {
  margin: 10px 0;
}

.menu .menu_top .description {
  width: 400px;
}

/* regole parte inferiore */
.menu .menu_bottom {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.menu .menu_bottom .pizza {
  position: relative;
}

.menu .menu_bottom .pizza img {
  margin: 0 50px 5px;
  height: 200px;
}

.menu .menu_bottom .pizza .grey {
  margin-right: 5px;
  text-decoration: line-through;
}

.menu .menu_bottom .pizza .sold {
  padding: 12px 10px;
  position: absolute;
  top: 20px;
  right: 60px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #D2401E;
}

/* simbolo in basso a destra */
.menu .menu_bottom .icon {
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF2853;
}

.menu .menu_bottom img {
  height: 20px;
}

.menu .menu_bottom .icon:hover {
  cursor: pointer;
}

/* REGOLE SEZIONE EVENTS */
.events {
  padding: 10px 0;
  display: flex;
  background-color: #FFFFFF;
}

/* regole parte sinistra */
.events .left {
  height: 700px;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1B1B1B;
}

.events .left .subtitle {
  margin-bottom: 10px;
}

.events .left .event {
  width: 400px;
  padding: 25px 0;
  display: flex;
}

.events .left .event:nth-child(4) {
  border-top: 2px dotted #B7903C;
  border-bottom: 2px dotted #B7903C;
}

.events .left .event .date {
  margin-right: 20px;
  text-align: center;
}

.events .left .event .date .month {
  margin-top: -10px;
}

.events .left .event .place {
  margin-top: 10px;
}

/* regole parte destra */
.events .right {
  height: 800px;
  background-image: url(../img/h3-img-5a.jpg);
  background-size: cover;
  background-position: center;
}

.events .right .top {
  height: 100px;
  position: relative;
}

.events .right .top .icon {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.events .right .top .icon img {
  height: 20px;
}

.events .right .top .icon:hover {
  cursor: pointer;
}

.events .right .middle {
  height: 600px;
  position: relative;
}

/* REGOLE SEZIONE BOOK */
.book {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/h3-background-img-3.jpg);
  background-size: cover;
  background-position: center;
}

.book .line {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* aggiungo margine solo alla prima linea per centrarla con il flex column. il margine aggiunto dovrebbe essere circa pari alla dimensione della seconda linea (14px font + 5 margine top + altro margine intrinseco del font) */
.book .line:first-child {
  margin-top: 20px;
}

.book .divisor {
  width: 250px;
  display: flex;
  align-items: center;
}

.book .divisor .conjunction {
  width: 50px;
  text-align: center;
}

.book .divisor .box {
  height: 50px;
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #1F1F1F;
}

.book .divisor .box input {
  border: none;
}

.book button {
  height: 50px;
  width: 200px;
  background-color: #D2401E;
  border: none;
}

.book button:hover {
  cursor: pointer;
}

.book .credits {
  width: 1000px;
  margin-top: 5px;
}

/* REGOLE FOOTER */
footer {
  height: 500px;
  margin-top: 10px;
  display: flex;
}

/* regole parte sinistra */
footer .left {
  padding: 100px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1B1B1B;
}

footer .left .row {
  display: flex;
  justify-content: space-between;
}

footer .left .row:last-child {
  align-items: baseline;
}

footer .left .column {
  width: 200px;
}

footer .left .margin {
  margin-top: 10px;
}

footer .left i {
  margin: 40px 0 0 10px;
}

footer .left i:hover {
  cursor: pointer;
}

footer .logo {
  width: 150px;
}

/* regole parte destra */
footer .right {
  position: relative;
  background-image: url(../img/footer-img-1.jpg);
  background-size: cover;
  background-position: center;
}

/* RESPONSIVENESS PER DESKTOP PICCOLI */

@media all and (max-width: 1599px) {
  #root {
    width: 1200px;
  }
}
