/* REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 1600px;
  margin: auto;
}

/* REGOLE HEADER */
header {
  height: 600px;
  background-color: #1B1B1B;
}

header a {
  color: #FFFFFF;
}

header .symbol {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(105%) contrast(101%);
}
