<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div id="root">

      <!-- header con i vari link e con un jumbotron (sembra un carousel ma senza pallini in basso)-->
      <header>

        <!-- riga contenitore dei link -->
        <div class="link_row">

          <!-- pulsante ordina online -->
          <div class="box left">
            <span v-for="(link, index) in headerLinks">
              <a class="white_text button" v-if="index == 0" href="#">
                {{link}}
              </a>
            </span>
          </div>

          <!-- link alla sinistra del logo -->
          <div class="box left">
            <span v-for="(link, index) in headerLinks">
              <a class="white_text" v-if="index >= 1 && index < 4" href="#">
                <img class="symbol" v-if="index == 1" src="svg/svg-0.svg">
                {{link}}
              </a>
            </span>
          </div>

          <!-- logo centrale -->
          <img class="logo" :src="logo" alt="">

          <!-- link alla destra del logo -->
          <div class="box right">
            <span v-for="(link, index) in headerLinks">
              <a class="white_text" v-if="index >= 4 && index < 7" href="#">
                {{link}}
              </a>
            </span>
          </div>

          <!-- link in alto a destra (cart e search) -->
          <div class="box right">
            <span v-for="(link, index) in headerLinks">
              <a class="white_text" v-if="index >= 7" href="#">
                <span class="position" v-if="index == 7">
                  <img class="symbol bike" src="svg/svg-1.svg">
                  <div class="backpack">0</div>
                </span>
                <i class="fas fa-search symbol" v-else-if="index == 8"></i>
                {{link}}
              </a>
            </span>
          </div>

        </div>

        <!-- contenitore immagine -->
        <div class="jumbotron">
          <img src="img/h3-rev-img-2.png" alt="">
        </div>

        <div class="arrow prev">
          <div class="arrow_text">
            PREV
          </div>
        </div>

        <div class="arrow next">
          <div class="arrow_text">
            NEXT
          </div>
        </div>

      </header>

      <!-- sezione con 4 cards con comportamento on hover -->
      <section class="newsfeed">

        <!-- ognuna delle 4 immagini é contenuta in un div in modo da mantenere le dimensioni -->
        <div class="news">
          <!-- immagine -->
          <img src="img/h3-img-1.jpg" alt="">
          <!-- occhio che appare in hover -->
          <img class="eye" src="svg/svg-2.svg" alt="">
        </div>

        <div class="news">
          <img class="news" src="img/h3-img-2.jpg" alt="">
          <img class="eye" src="svg/svg-2.svg" alt="">
        </div>

        <div class="news">
          <img class="news" src="img/h3-img-3.jpg" alt="">
          <img class="eye" src="svg/svg-2.svg" alt="">
        </div>

        <div class="news">
          <img class="news" src="img/h3-img-4.jpg" alt="">
          <img class="eye" src="svg/svg-2.svg" alt="">
        </div>

      </section>

      <!-- carousel con recensioni di riviste -->
      <section class="testimonials">

        <!-- dichiarazione del testimonial -->
        <i class="fas fa-quote-left"></i>
        <div class="quote">"FORGET THE TRENDY PIZZA SHOPS, THIS HIDDEN SPOT MAKES THE BEST NEW YORK-STYLE PIZZA SLICE IN NAPLES"</div>
        <div class="journal">WASHINGTON POST 2018</div>

        <!-- pallini carousel -->
        <div class="dots">
          <i class="fas fa-circle active"></i>
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
        </div>

        <!-- frecce carousel -->
        <div class="arrow prev">
          <div class="arrow_text">
            PREV
          </div>
        </div>
        <div class="arrow next">
          <div class="arrow_text">
            NEXT
          </div>
        </div>

        <!-- simbolo pizza -->
        <img class="pizza" src="svg/svg-4.svg" alt="">

      </section>

      <!-- sezione divisa in due con a sinistra una immagine e a destra il menú -->
      <section class="menu">

        <!-- logo pizza specials a sinistra -->
        <div class="half left">
          <img src="img/h1-img-7n.png" alt="">
        </div>

        <!-- menu di destra -->
        <div class="half right">

          <div>
            <div class="title">SPECIALS*</div>
            <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut.</div>
          </div>

          <div class="combo">
            <div class="price">$10</div>
            <div class="right-column">
              <div class="name">COMBO PICCOLO</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <div class="combo">
            <div class="price">$20</div>
            <div class="right-column">
              <div class="name">COMBO MEZZO</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <div class="combo">
            <div class="price">$30</div>
            <div class="right-column">
              <div class="name">COMBO GRANDE</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <!-- simbolo pizza -->
          <img class="pizza circle grey" src="svg/svg-4.svg" alt="">

        </div>

      </section>

      <!-- sezione con un dettaglio grafico ed una scritta centrale -->
      <section class="build">

        <div class="bg top left"></div>

        <div class="bg top center"></div>

        <div class="bg top right"></div>

        <div class="bg middle left"></div>

        <div class="bg middle center">
          <div class="slogan">GO AHEAD AND BUILD YOUR OWN PIZZA WE WON'T JUDGE!</div>
        </div>

        <div class="bg middle right">
          <!-- simbolo pizza -->
          <img class="pizza circle white" src="svg/svg-4.svg" alt="">
        </div>

        <div class="bg bottom left"></div>

        <div class="bg bottom center"></div>

        <div class="bg bottom right"></div>

      </section>

      <!-- sezione con 4 foto di staff con comportamento on hover -->
      <section class="staff">

      </section>

      <!-- sezione con loghi di locali affiliati (o sponsor) -->

      <!-- sezione con l'elenco di pizze in orizzontale (quelle esterne sono tagliate ma non vedo barre quindi immagino ci sia un hoverflow hidden) -->

      <!-- sezione divisa in due con a sinistra alcuni eventi e a destra un fumetto -->

      <!-- sezione con per prenotazione con vari input -->

      <!-- footer con i vari link a sinistra e con una immagine a destra -->

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
