<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <div id="root">

      <!-- header con i vari link e con un jumbotron (sembra un carousel ma senza pallini in basso)-->
      <header :class="jumboBgs[jumboIndex]">

        <!-- riga contenitore dei link -->
        <div class="link_row">

          <!-- pulsante ordina online -->
          <div class="box left">
            <a class="button px12 white" :href="headerLinks[0].link">
              {{headerLinks[0].name}}
            </a>
          </div>

          <!-- link alla sinistra del logo -->
          <div class="box left">
            <span v-for="(link, index) in headerLinks">
              <!-- stampo solo Home, Pages e Menu -->
              <a class="px12 white" v-if="index >= 1 && index < 4" :href="link.link">
                <img class="symbol" v-if="link.symbol" :src="link.symbol">
                {{link.name}}
              </a>
            </span>
          </div>

          <!-- logo centrale -->
          <img class="logo" :src="logo" alt="">

          <!-- link alla destra del logo -->
          <div class="box right">
            <span v-for="(link, index) in headerLinks">
              <!-- stampo solo Event, Blog e Landing -->
              <a class="px12 white" v-if="index >= 4 && index < 7" :href="link.link">
                <img class="symbol" v-if="link.symbol" :src="link.symbol">
                {{link.name}}
              </a>
            </span>
          </div>

          <!-- link in alto a destra (cart e search) -->
          <div class="box right">
            <span v-for="(link, index) in headerLinks">
              <a class="px12 white" v-if="index >= 7" :href="link.link">
                <span class="position" v-if="link.symbol == 'svg/svg-1.svg'">
                  <img class="symbol bike" :src="link.symbol">
                  <div class="backpack px10 red">{{cart}}</div>
                </span>
                <i v-else :class="link.symbol"></i>
                {{link.name}}
              </a>
            </span>
          </div>

        </div>

        <!-- contenitore immagine -->
        <div class="jumbotron">
          <img :src="jumboImages[jumboIndex]" alt="">
        </div>

        <div class="arrow prev" @click="prevImage">
          <div class="arrow_text px14 red">
            PREV
          </div>
        </div>

        <div class="arrow next" @click="nextImage">
          <div class="arrow_text px14 red">
            NEXT
          </div>
        </div>

      </header>

      <!-- sezione con 4 cards con comportamento on hover -->
      <section class="newsfeed">

        <!-- ognuna delle 4 immagini é contenuta in un div in modo da mantenere le dimensioni -->
        <div class="news">
          <!-- immagine -->
          <img src="img/h3-img-1.jpg" alt="">
          <!-- occhio che appare in hover -->
          <i class="far fa-eye px20 white"></i>
        </div>

        <div class="news">
          <img src="img/h3-img-2.jpg" alt="">
          <i class="far fa-eye px20 white"></i>
        </div>

        <div class="news">
          <img src="img/h3-img-3.jpg" alt="">
          <i class="far fa-eye px20 white"></i>
        </div>

        <div class="news">
          <img src="img/h3-img-4.jpg" alt="">
          <i class="far fa-eye px20 white"></i>
        </div>

      </section>

      <!-- carousel con citazioni di giornali -->
      <section class="testimonials">

        <!-- citazione -->
        <i class="fas fa-quote-left px50 gold"></i>
        <div class="quote px20 bold">{{quotes[quoteIndex].quote}}</div>
        <div class="journal px12 red">{{quotes[quoteIndex].journal}}</div>

        <!-- pallini carousel -->
        <div class="dots">
          <i v-for="(quote, index) in quotes" class="fas fa-circle px10 lightgrey" :class="{gold: index === quoteIndex}" @click="selectQuote(index)"></i>
        </div>

        <!-- frecce carousel -->
        <div class="arrow prev" @click="prevQuote">
          <div class="arrow_text px14 red">
            PREV
          </div>
        </div>
        <div class="arrow next" @click="nextQuote">
          <div class="arrow_text px14 red">
            NEXT
          </div>
        </div>

        <!-- simbolo pizza -->
        <img class="slice" src="svg/svg-4.svg" alt="">

      </section>

      <!-- sezione divisa in due con a sinistra una immagine e a destra il menú -->
      <section class="offers">

        <!-- logo pizza specials a sinistra -->
        <div class="half left">
          <img src="img/h1-img-7n.png" alt="">
        </div>

        <!-- offerte a destra -->
        <div class="half right">

          <div>
            <div class="title px30 bold">SPECIALS*</div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut.</div>
          </div>

          <div class="combo px20">
            <div class="price red bold">$10</div>
            <div class="right-column">
              <div class="bold">COMBO PICCOLO</div>
              <div class="description px12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <div class="combo px20">
            <div class="price red bold">$20</div>
            <div class="right-column">
              <div class="bold">COMBO MEZZO</div>
              <div class="description px12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <div class="combo px20">
            <div class="price red bold">$30</div>
            <div class="right-column">
              <div class="bold">COMBO GRANDE</div>
              <div class="description px12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesent ut aliquam dui.</div>
            </div>
          </div>

          <!-- simbolo pizza -->
          <img class="slice circle grey" src="svg/svg-4.svg" alt="">

        </div>

      </section>

      <!-- sezione con un dettaglio grafico ed una scritta centrale -->
      <section class="build">

        <div class="bg top left"></div>

        <div class="bg top center"></div>

        <div class="bg top right"></div>

        <div class="bg middle left"></div>

        <div class="bg middle center">
          <div class="slogan px40 bold white">GO AHEAD AND BUILD YOUR OWN PIZZA WE WON'T JUDGE!</div>
        </div>

        <div class="bg middle right">
          <!-- simbolo pizza -->
          <img class="slice circle white" src="svg/svg-4.svg" alt="">
        </div>

        <div class="bg bottom left"></div>

        <div class="bg bottom center"></div>

        <div class="bg bottom right"></div>

      </section>

      <!-- sezione con 4 foto di dipendenti con comportamento on hover -->
      <section class="team">

        <!-- ognuno dei 4 dipendenti é contenuta in un div in modo da mantenere le dimensioni -->
        <div class="employee">
          <!-- foto -->
          <img src="img/h1-team-1a.jpg" alt="">
          <!-- informazioni che appaiono in hover -->
          <div class="curriculum white">
            <div class="px20 bold">MARK GIACOMELLI</div>
            <div class="job">Kitchen Porter</div>
            <div class="social">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>

        <div class="employee">
          <img src="img/h1-team-2a.jpg" alt="">
          <!-- informazioni che appaiono in hover -->
          <div class="curriculum white">
            <div class="px20 bold">JASMINE TRUSSARDI</div>
            <div class="job">Kitchen Porter</div>
            <div class="social">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>

        <div class="employee">
          <img src="img/h1-team-4a.jpg" alt="">
          <!-- informazioni che appaiono in hover -->
          <div class="curriculum white">
            <div class="px20 bold">FRANK BAILEY</div>
            <div class="job">Kitchen Porter</div>
            <div class="social">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>

        <div class="employee">
          <img src="img/h1-team-3a.jpg" alt="">
          <!-- informazioni che appaiono in hover -->
          <div class="curriculum white">
            <div class="px20 bold">SOPHIA BRIDGES</div>
            <div class="job">Kitchen Porter</div>
            <div class="social">
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook-f"></i>
            </div>
          </div>
        </div>

        <!-- simbolo pizza -->
        <img class="slice circle white" src="svg/svg-4.svg" alt="">

      </section>

      <!-- sezione con loghi di locali affiliati (o sponsor) -->
      <section class="affiliate">
        <img src="img/h1-clients-img-4.png" alt="">
        <img src="img/h1-clients-img-3.png" alt="">
        <img src="img/h1-clients-img-1.png" alt="">
        <img src="img/h1-clients-img-2.png" alt="">
        <img src="img/h1-clients-img-5.png" alt="">
      </section>

      <!-- sezione con l'elenco di pizze in orizzontale (quelle esterne sono tagliate ma non vedo barre quindi immagino ci sia un hoverflow hidden) -->
      <section class="menu">

        <!-- parte superiore del menu -->
        <div class="menu_top">
          <div class="px12 red">CHOSE YOUR FLAVOR</div>
          <div class="title px30 bold">THE BEST PIZZA MENU IN TOWN</div>
          <div class="description px14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut blandit arcu in pretium molestie. Interdum et malusuada fames ac.</div>

          <!-- simbolo pizza -->
          <img class="slice circle grey" src="svg/svg-4.svg" alt="">
        </div>

        <!-- parte inferiore del menu -->
        <div class="menu_bottom">

          <!-- pizze con varie informazioni -->
          <div class="pizza px14 bold">
            <img src="img/h3-product-img-1a.png" alt="">
            <div class="gold">BISMARCK</div>
            <span class="grey">$45.00</span>
            <span class="red">$30.00</span>
          </div>

          <div class="pizza px14 bold">
            <img src="img/h3-product-img-2a.png" alt="">
            <div class="gold">FIORI DI ZUCCA</div>
            <span class="red">$7.00 - $50.00</span>
          </div>

          <div class="pizza px14 bold">
            <img src="img/h3-product-img-6a.png" alt="">
            <div class="gold">VALDOSTANA</div>
            <span class="red">$55.00</span>

            <!-- simbolo sold in alto a destra -->
            <div class="sold">SOLD</div>
          </div>

          <div class="pizza px14 bold">
            <img src="img/h3-product-img-4a.png" alt="">
            <div class="gold">PIZZA TARTUFATA</div>
            <span class="red">$45.00</span>
          </div>

          <div class="pizza px14 bold">
            <img src="img/h3-product-img-5a.png" alt="">
            <div class="gold">FRANCESCANA</div>
            <span class="red">$25.00</span>
          </div>

          <div class="pizza px14 bold">
            <img src="img/h3-product-img-3a.png" alt="">
            <div class="gold">CAMPAGNOLA</div>
            <span class="red">$50.00 - $95.00</span>
          </div>

          <!-- simbolo in basso a destra -->
          <div class="icon">
            <img src="svg/svg-7.svg" alt="">
          </div>

        </div>

      </section>

      <!-- sezione divisa in due con a sinistra alcuni eventi e a destra un fumetto -->
      <section class="events">

        <!-- date a sinistra -->
        <div class="half left">

          <div class="subtitle px12 red">MADE WITH LOVE</div>
          <div class="px30 bold white">DELISH PIZZA DEALS</div>

          <div class="event">

            <div class="date">
              <div class="px40 bold red">02</div>
              <div class="month 20px bold white">NOV</div>
            </div>

            <div class="place">
              <div class="px20 bold white">TRADITIONAL NEAPOLITAN PIES IN KYOTO PIZZA MERCATO</div>
              <div class="px12 red">
                <i class="fas fa-map-marker-alt"></i>
                <span>204 E. Pizzetta Tommaso</span>
              </div>
            </div>

          </div>

          <div class="event">

            <div class="date">
              <div class="px40 bold red">03</div>
              <div class="month 20px bold white">NOV</div>
            </div>

            <div class="place">
              <div class="px20 bold white">TERRAZZA PATIO DINING SPACE OPENING THIS WEEKEND</div>
              <div class="px12 red">
                <i class="fas fa-map-marker-alt"></i>
                <span>204 E. Pizzetta Tommaso</span>
              </div>
            </div>

          </div>

          <div class="event">

            <div class="date">
              <div class="px40 bold red">05</div>
              <div class="month 20px bold white">NOV</div>
            </div>

            <div class="place">
              <div class="px20 bold white">SIENNA PRIVATE DINING ROOM WITH STÉPHANE BRUNN</div>
              <div class="px12 red">
                <i class="fas fa-map-marker-alt"></i>
                <span>204 E. Pizzetta Tommaso</span>
              </div>
            </div>

          </div>

        </div>

        <!-- fumetto a destra -->
        <div class="half right">

          <!-- contenitore invisibile per i simboli in alto a destra -->
          <div class="top">

            <!-- simbolo carrello -->
            <div class="icon">
              <img src="svg/svg-9.svg" alt="">
            </div>

            <!-- simbolo pizza -->
            <img class="slice circle grey" src="svg/svg-4.svg" alt="">

          </div>

          <!-- contenitore invisibile per la pizza in centro -->
          <div class="middle">

            <!-- simbolo pizza -->
            <img class="slice circle grey" src="svg/svg-4.svg" alt="">

          </div>

        </div>

      </section>

      <!-- sezione con per prenotazione con vari input -->
      <section class="book">

        <div class="line">

          <div class="divisor">
            <div class="box">
              <input placeholder="1 Person">
              <i class="fas fa-user-friends px14 gold"></i>
            </div>
            <div class="conjunction px14 bold white">FOR</div>
          </div>

          <div class="divisor">
            <div class="box">
              <input placeholder="11/29/2020">
              <i class="far fa-calendar px14 gold"></i>
            </div>
            <div class="conjunction px14 bold white">AT</div>
          </div>

          <div class="divisor">
            <div class="box">
              <input placeholder="7:00 pm">
              <i class="far fa-clock px14 gold"></i>
            </div>
          </div>

          <div class="divisor">
            <button class="px12 white">BOOK A TABLE</button>
          </div>

        </div>

        <div class="line">
          <div class="credits px14 white">*Powered by OpenTable</div>
        </div>

      </section>

      <!-- footer con i vari link a sinistra e con una immagine a destra -->
      <footer>

        <!-- parte di sinistra con le informazioni inserite tramite Vue-->
        <div class="half left">

          <!-- riga superiore -->
          <div class="row">
            <!-- colonna con gli indirizzi dei ristoranti -->
            <div class="column">
              <div class="bold px14 gold">{{restaurants.name}}</div>
              <div v-for="place in restaurants.list">
                <div class="px12 grey margin">{{place.address}}</div>
                <div class="px12 grey">{{place.city}}</div>
                <div class="px12 grey">{{place.phone}}</div>
              </div>
            </div>

            <!-- colonna con gli orari di apertura -->
            <div class="column">
              <div class="bold px14 gold">{{openingHours.name}}</div>
              <div v-for="working in openingHours.list">
                <div class="px12 bold gold margin">
                  {{working.day}}
                  <span v-if="working.asterisk" class="red">*</span>
                </div>
                <div class="px12" :class="working.color">{{working.opening}}</div>
              </div>
              <span class="px12 bold gold">{{socials.name}}</span>
              <i v-for="social in socials.list" :class="social" class="px12 white"></i>
            </div>

            <!-- colonna con lo slogan aziendale -->
            <div class="column">
              <div class="px20 bold white">{{motto}}</div>
            </div>
          </div>

          <!-- riga inferiore -->
          <div class="row">

            <!-- credits -->
            <div class="px12">
              <span class="gold" v-html="credits.firstPart"></span>
              <span class="green">{{credits.secondPart}}</span>
            </div>

            <!-- logo -->
            <img class="logo" :src="logo" alt="">

          </div>

        </div>

        <!-- immagine a destra -->
        <div class="half right">
          <img class="slice circle white" src="svg/svg-4.svg" alt="">
        </div>

      </footer>

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
